/* Fonts */
@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #2d3440;
}

.body-basic {
    background-color: #feafc3;
}

.body-light {
    background-color: #fcc850;
}

.body-dark {
    background-color: #69a9ff;
}

.main-page {
    flex-grow: 1;
}

/* Общие стили */
.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* button */
.button {
    position: relative;
    display: inline-block;

    font-family: "Inter", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

    color: #2D3440;
    text-align: center;
    text-decoration: none;

    border-radius: 26px;
    border: 4px solid rgba(252, 252, 252, 0.40);
    background-color: #fcfcfc;
    box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);

    padding: 12px 32px;
    cursor: pointer;

    transition: border .3s ease-in, background-color .3s ease-in, box-shadow .3s ease-in;
}

.button:hover {
    border: 4px solid #fcfcfc;
    background-color: rgba(252, 252, 252, 0.40);
    box-shadow: 0 4px 15px 0 rgba(133, 133, 133, 0.15);
}

.button:active {
    border: 2px solid #2D3440;
    background-color: #fcfcfc;
    box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
}

.button:focus-visible {
    border: 2px solid #2D3440;
    background-color: rgba(252, 252, 252, 0.50);
    box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.10);
}

.button:disabled,
.button-disabled {
    border: 4px solid rgba(252, 252, 252, 0.40);
    background-color: #e7e7e7;
    color: #B9B9B9;
}

.button-spinner {
    position: relative;
    display: flex;
    align-items: center;
}

.button-spinner::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 4px;
    transform: translate(-50%, -50%);

    width: 16px;
    height: 16px;
    background-image: url("../images/icons/spinner-1.svg");
    background-repeat: no-repeat;
}

/* button-light */
.button-light {
    background-color: #ff2f64;
    color: #fcfcfc;
}

 .button-light:hover {
    border: 4px #ff2f64;
    background-color: rgba(252, 252, 252, 0.30);
}

.button-light:active {
    border: 2px #2d3440;
    background-color: #feafc3;
}

.button-light:focus-visible {
    border: 2px solid transparent;
    outline: 2px #2d3440;

    background-color: #ff2f64;
}

.button-light:disabled
.button-light-disabled {
    border: 4px solid rgba(185, 185, 185, 0.30);
    background-color: #b9b9b9;
}

.button-light::after {
    background-image: url("../images/icons/spinner-2.svg");
}

/* button-outline */
.button-outline {
    font-size: 14px;
    padding: 8px 32px;
    border-radius: 20px;

    border: 2px solid transparent;
    outline: 2px #fcfcfc;

    background-color: rgba(252, 252, 252, 0.30);
}

.button-outline:hover {
    border: 2px solid transparent;
    outline: 2px rgba(252, 252, 252, 0.30);

    background-color: #fcfcfc;
}

.button-outline:active {
    background-color: rgba(252, 252, 252, 0.50);
}

.button-outline:focus-visible {
    border: 2px solid transparent;
    outline: 2px #2d3440;

    background-color: rgba(252, 252, 252, 0.30);
}

.button-outline:disabled,
.button-outline-disabled {
    border: 2px solid transparent ;
    outline: 2px #2d3440;

    background-color: rgba(252, 252, 252, 0.30);
}
/* // button */

.heading {
    font-size: 36px;
    font-weight: 900;
    line-height: 46px;
    margin: 0;
}

.title {
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    margin: 0;
}

.small-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
}

.subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

.small-subtitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: 0;
}

.form-input {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    border-radius: 4px;
    border: 1px solid #b9b9b9;
    background-color: #ffffff;
    color:#2d3440;

    padding: 14px 16px 14px;
}

.form-input::placeholder {
    color: #b9b9b9;
}

.form-input:hover {
    border: 1px solid #2d3440;
}

.form-input:focus-visible {
    border: 1px solid #2d3440;
}

.form-input-error {
    border: 1px solid #ea5454;
}

.form-input:disabled {
    background-color: #e7e7e7;
    opacity: 0.6;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
/* // Общие стили */

/* header-page */
.header-page-container {
    padding: 24px 0;
}

.logo-link {
    display: block;
    width: 137px;
    height: 56px;
    margin-right: 16px;
}

.logo-link:focus {
    outline: none;
}

.logo-link:focus-visible {
    outline: 2px solid #2D3440;
    border-radius: 2px;
}

/* navigation */
.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* navigation-list */
.navigation-list {
    /* max-width: 576px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.navigation-list-link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center right;
    padding: 8px 16px;
    border: 2px solid transparent;
    transition: background-color .3s ease-in;
}

.navigation-list-link:hover {
    border-radius: 30px;
    background-color: rgba(252, 252, 252, 0.50);
}

.navigation-list-link:active {
    border-radius: 30px;
    background-color: #fcfcfc;
}

.navigation-list-link:focus {
    outline: none;
}

.navigation-list-link:focus-visible {
    border-radius: 30px;
    border: 2px solid #2D3440;
    background-color: rgba(252, 252, 252, 0.50);
}

/* navigation dropdown-menu */
.navigation-item-dropdown-menu {
    position: relative;
}

.navigation-link-dropdown-menu {
    position: relative;
    padding: 8px 38px 8px 16px;
    z-index: 10;
}

.navigation-link-dropdown-menu::before {
    content: "";
    position: absolute;
    display: block;
    top: 10px;
    right: 14px;

    width: 16px;
    height: 16px;

    -webkit-mask-image: url(../images/icons/arrow-down.svg);
    mask-image: url(../images/icons/arrow-down.svg);
    background-color: #2d3440;

}

/* navigation-link-dropdown-menu-active */
.navigation-link-dropdown-menu-active::before {
    content: "";
    position: absolute;
    display: block;
    top: 10px;
    right: 14px;

    width: 16px;
    height: 16px;

    -webkit-mask-image: url(../images/icons/arrow-down.svg);
    mask-image: url(../images/icons/arrow-down.svg);
    background-color: #fcfcfc;
    transform: rotate(180deg);

}

.navigation-link-dropdown-menu-active {
    border-radius: 30px;
    background-color: #ff4a78;
    color: #fcfcfc;
}

.navigation-link-dropdown-menu-active:hover {
    opacity: 0.6;
    background-color: #ff4a78;
}

.navigation-link-dropdown-menu-active:active {
    opacity: 0.3;
    background-color: #ff4a78;
}

.navigation-link-dropdown-menu-active:focus-visible {
    border: 2px solid #000;
    background-color: #ff4a78;
}

/* dropdown-menu-list */
.dropdown-menu-list {
    display: none;
    min-width: 138px;
    position: absolute;
    top: 45px;
    left: 0;

    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
    padding: 8px 0;
    z-index: 10;
}

.dropdown-menu-link {
    display: block;
    font-size: 14px;
    color: inherit;
    text-decoration: none;
    padding: 8px 16px;
}

.dropdown-menu-link:hover {
    background-color: #ffcbd8;
}

.dropdown-menu-link:active {
    background-color: #ff7799;
}

.dropdown-menu-link:focus {
    outline: none;
}

.dropdown-menu-link:focus-visible {
    outline: 1px solid #2D3440;
}

.dropdown-menu-link-current {
    color: #fcfcfc;
    background-color: #ff4a78;
}

.dropdown-menu-title {
    font-size: 14px;
    font-weight: 700;
    padding: 8px 16px;
}

.navigation-item-dropdown-menu:hover .dropdown-menu-list,
.navigation-item-dropdown-menu:focus-within .dropdown-menu-list {
    display: block;
}

/* navigation-user */
.navigation-user-list  {
    /* max-width: 431px; */
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;

    margin-left: auto;
}

.user-list-link {
    display: inline-block;
    color: inherit;
    font-size: 14px;
    text-decoration: none;
    border-radius: 27px;
    padding: 6px 16px;
}

.user-list-link:focus {
    outline: none;
}

.user-list-link:focus-visible {
    border: 2px solid #2D3440;
}

.user-list-link-phone {
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
}

/* user-form search*/
.user-list-link::before {
    content: "";
    width: 16px;
    height: 16px;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

/* icon-search */
.user-icon-search {
    padding: 8px;
    border-radius: 27px;
    border: 2px solid transparent;
    background-color: rgba(252, 252, 252, 0.30);
    transition: background-color .3s ease-in;
}

.user-icon-search::before {
    display: block;
    -webkit-mask-image: url("../images/icons/search.svg");
    mask-image: url("../images/icons/search.svg");
    background-color: #2d3440;
}

.user-icon-search:hover {
    background-color: rgba(252, 252, 252, 0.50);
}

.user-icon-search:active {
    background-color: #fcfcfc;
}

.user-icon-search:focus-visible {
    border: 2px solid #2D3440;
    background-color: rgba(252, 252, 252, 0.50);
}

/* icon-search-active */
.user-icon-search-active {
    padding: 8px;
    border-radius: 27px;
    border: 2px solid transparent;
    background-color: #ff4a78;
    transition: background-color .3s ease-in;
}

.user-icon-search-active::before {
    display: block;
    -webkit-mask-image: url("../images/icons/search.svg");
    mask-image: url("../images/icons/search.svg");
    background-color: #fcfcfc;
}

.user-icon-search-active:hover {
    opacity: 0.6;
    background-color: #ff4a78;
}

.user-icon-search-active:active {
    opacity: 0.3;
    background-color: #ff4a78;
}

.user-icon-search-active:focus-visible {
    border: 2px solid #000;
    background-color: #ff4a78;
}

/* form-search */
.user-item-form-search {
    position: relative;
}

.form-search {
    position: absolute;
    display: none;
    top: 44px;
    right: 0;

    border-radius: 4px;
    background-color: #fcfcfc;
    padding: 16px 24px;
    z-index: 10;
}

.form-search-active {
    display: block;
}

.user-item-form-search:hover .form-search,
.user-item-form-search:focus-within .form-search {
    display: block;
}

/* /* user-form login */
.login-input-text {
    width: 100%;
}

.user-item-login {
    position: relative;
}

/* user-icon-login */
.user-icon-login {
    display: flex;
    align-items: center;

    padding: 6px 16px;
    border-radius: 30px;
    border: 2px solid transparent;
    background-color: rgba(252, 252, 252, 0.30);
    gap: 6px;
    transition: background-color .3s ease-in;
}

.user-icon-login::before {
    display: block;
    -webkit-mask-image: url("../images/icons/log-in.svg");
    mask-image: url("../images/icons/log-in.svg");
    background-color: #2d3440;
}

.user-icon-login:hover {
    background-color: rgba(252, 252, 252, 0.50);
}

.user-icon-login:active {
    background-color: #fcfcfc;
}

.user-icon-login:focus-visible {
    border: 2px solid #000;
    background-color: rgba(252, 252, 252, 0.50);
}

/* user-icon-login-active */
.user-icon-login-active {
    display: flex;
    align-items: center;
    gap: 16px;

    padding: 6px 16px;

    border-radius: 30px;
    border: 2px solid transparent;
    background-color: #ff4a78;
    color: #fcfcfc;

    transition: background-color .3s ease-in;


}

.user-icon-login-active::before {
    display: block;
    -webkit-mask-image: url("../images/icons/log-in.svg");
    mask-image: url("../images/icons/log-in.svg");
    background-color: #fcfcfc;
}

.user-icon-login-active:hover {
    opacity: 0.6;
    background-color: #ff4a78;
}form-input login-input-text


.user-icon-login-active:active {
    opacity: 0.3;
    background-color: #ff4a78;
}

.user-icon-login-active:focus-visible {
    border: 2px solid #000;
    background-color: #ff4a78;
}

/* form-login */
.form-login {
    width: 420px;
    position: absolute;
    display: none;
    top: 42px;
    right: 0;

    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
    padding: 48px 48px 52px 48px;
    z-index: 10;
}

.form-login > *:not(:last-child) {
    margin-bottom: 32px;
}

.login-fieldset-wrapper > *:not(:last-child) {
    margin-bottom: 16px;
}

.login-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 18px;
}

.login-fieldset-group {
    padding: 0;
    margin: 0;
    border: none;
}

.password-list-link {
    color: inherit;
    text-decoration: none;
}

.password-list-link {
    text-decoration: 1px;
    outline: none;
    text-decoration-color: inherit;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-offset: 4px;
}

.form-login-active {
    display: block;
}

.user-item-login:hover .form-login,
.user-item-login:focus-within .form-login {
    display: block;
}

/* user-form basket */
/* user-icon-basket */
.user-icon-basket {
    display: flex;
    align-items: center;

    padding: 6px 16px;
    border-radius: 30px;
    border: 2px solid transparent;
    background-color: rgba(252, 252, 252, 0.30);
    gap: 6px;
    transition: background-color .3s ease-in;
}

.user-icon-basket::before {
    display: block;
    -webkit-mask-image: url("../images/icons/cart.svg");
    mask-image: url("../images/icons/cart.svg");
    background-color: #2d3440;
}

.user-icon-basket:hover {
    background-color: rgba(252, 252, 252, 0.50);
}

.user-icon-basket:active {
    background-color: #fcfcfc;
}

.user-icon-basket:focus-visible {
    border: 2px solid #000;
    background-color: rgba(252, 252, 252, 0.50);
}

/* basket-container */
.basket-counter {
    margin: 0;
}

.basket-container-active {
    display: block;
}

.user-item-basket-empty,
.user-item-basket {
    position: relative;
}

.basket-container-empty,
.basket-container {
    width: 288px;
    position: absolute;
    display: none;
    top: 42px;
    right: 0;

    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
    z-index: 10;
}

.basket-container-empty {
    text-align: center;
    padding: 48px 0;
}

/* button-basket-delete */
.button-basket-delete {
    position: relative;

    display: block;
    width: 16px;
    height: 16px;
    padding: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button-basket-delete::before,
.button-basket-delete::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 12px;
    height: 1px;

    background-color: #2d3440;
    transform: translate(-50%, -50%);
}

.button-basket-delete::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.button-basket-delete::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.user-item-basket:hover .basket-container,
.user-item-baske:focus-within .basket-container {
    display: block;
}

.user-item-basket-empty:hover .basket-container-empty,
.user-item-basket-empty:focus-within .basket-container-empty {
    display: block;
}

.basket-list-link  {
    color: inherit;
    text-decoration: none;
}

.basket-desc {
    color: #b9b9b9;
}

.basket-price {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

/* Slider */
.slider {
    padding-bottom: 80px;
}

.slider-container {
    position: relative;
}

.slider-content {
    width: 430px;
}

.slider-item {
    display: none;
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.slider-item-current {
    display: grid;
}

.slider-wrapper-images {
    display: flex;
    align-items: center;
    padding: 21px 0 26px 0;
}

.slider-wrapper-images > *:not(:first-child) {
    opacity: 0.4;
}

.slider-heading {
    margin-bottom: 24px;
}

.slider-desc {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 48px;
}

/* slider-arrows-container */
.slider-arrows-container {
    position: absolute;
    top: 50%;
    right: 22%;
    width: 328px;
    display: flex;
    justify-content: space-between;
}

.slider-arrow {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 12px;

    border-radius: 26px;
    border: 2px solid #fcfcfc;
    background-color: rgba(252, 252, 252, 0.30);
    cursor: pointer;

    transition: background-color .3s ease-in, border-color .3s ease-in;
}

.slider-arrow::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);

    -webkit-mask-image: url("../images/icons/arrow-left.svg");
    mask-image: url("../images/icons/arrow-left.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    background-color: #fcfcfc;
}

.slider-arrow-next {
    transform: rotate(180deg);
}

.slider-arrow:hover {
    background-color: #fcfcfc;
}

.slider-arrow:hover:before {
    background-color: #2d3440;
}

.slider-arrow:active {
    background-color: rgba(252, 252, 252, 0.50);
}

.slider-arrow:active:before {
    background-color: #2d3440;
}

.slider-arrow:focus {
    outline: none;
}

.slider-arrow:focus-visible {
    border: 2px solid #2d3440;
    background-color: rgba(252, 252, 252, 0.30);
}

.slider-arrow:active:focus-visible:before {
    background-color: #2d3440;
}

/* slider pagination*/
.slider-pagination-list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.slider-pagination-button {
    position: relative;
    display: block;

    width: 12px;
    height: 12px;
    border-radius: 100px;
    border: 1px solid transparent;
    background-color: rgba(252, 252, 252, 0.3);

    transition: background-color .3s ease-in, border-color .3s ease-in;

    cursor: pointer;
    margin: 0;
    padding: 0;
}
.slider-pagination-button:hover {
    border: 1px solid #fcfcfc;
    background-color: rgba(252, 252, 252, 0.30);
}

.slider-pagination-button:active {
    border: 1px solid transparent;
    background-color: rgba(252, 252, 252, 0.5);
}

.slider-pagination-button:focus-visible {
    border: 1px solid #2d3440;
    background-color: rgba(252, 252, 252, 0.30);
}

.slider-pagination-button-active {
    border: 1px solid transparent;
    background-color: #fcfcfc;
}

/* banners */
.banners {
    padding-bottom: 80px;
}

.banners-title {
    width: 434px;
    text-align: center;
    margin-bottom: 54px;
    margin-right: auto;
    margin-left: auto;
}

.banners-list {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    gap: 30px;
}

.banners-list-item {
    display: grid;
    grid-template-columns: 317px 219px;
    align-items: center;

    border-radius: 16px;
    background-color: #ff7799;
    padding-top: 36px;
    padding-left: 36px;
    padding-bottom: 36px;
}

.banners-subtitle {
    margin-bottom: 28px;
}

.banners-images-wrapper {
    margin: 0;
    flex-grow: 1;
}

.banners-desc {
   margin-top: 0;
   margin-bottom: 28px;
    line-height: 22px;

}

/* product */
.product {
    padding-bottom: 80px;
}

.product-title {
    width: 527px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 56px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    gap: 30px;
    text-align: center;
}

.product-list-item {
    border-radius: 8px;
    background-color: #fcfcfc;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 28px;
}

.product-images {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    margin: 0;
    margin-bottom: 16px;
}

.product-link {
    color: inherit;
    text-decoration: none;
}

.product-subtitle {
    text-align: center;
    margin-bottom: 8px;
}

.product-desc {
    color: #565C66;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 16px;
}

.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.product-price {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

/* product-basket-button */
.product-basket-button {
   width: 32px;
   height: 32px;
   border-radius: 26px;
    background-color: #ff2f64;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border .3s ease-in, background-color .3s ease-in;
}

.product-basket-button:focus {
   outline: none;
}

.product-basket-button::before {
    display: block;
    content: "";

    width: 16px;
    height: 16px;
    -webkit-mask-image: url("../images/icons/cart.svg");
    mask-image: url("../images/icons/cart.svg");
    background-color: #fcfcfc;
}

.product-basket-button:hover {
    border: 2px solid #ff2f64;
    background-color: rgba(252, 252, 252, 0.30);
}

.product-basket-button:hover:before {
    background-color: #2D3440;
}

.product-basket-button:active {
    border: 2px solid #ff2f64;
    background-color: #ffcbd8;
}

.product-basket-button:active:before {
    background-color: #2D3440;
}

.product-basket-button:focus-visible {
    border: 2px solid #2D3440;
    background-color: #ff2f64;
}

.product-basket-button:disabled:before,
.product-basket-button-disabled:before {
    background-color: #b9b9b9;
}

.product-basket-button:disabled:before,
.product-basket-button-disabled:before:before {
    background-color: #565c66;
}

/* seo */
.seo {
    padding-bottom: 80px;
}

.seo-container {
    background-image: url(../images/seo/pattern-seo.png);
    padding: 24px;
    background-color: #ffffff;
    border-radius: 16px;
}

.seo-wrapper {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 56px 40px;
}

.seo-title {
    margin-bottom: 56px;
    text-align: center;
}

.seo-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 40px;
}

.seo-list-item {
    position: relative;
    display: flex;
}

.seo-list-item::before {
    content: "";
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin-right: 16px;

    width: 48px;
    height: 48px;

    border-radius: 50%;
    border: 2px solid #2d3440;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 8px;
}

.seo-icon-ice-crem::before {
    background-image: url("../images/icons/ice-cream.svg");

}

.seo-icon-crow::before {
    background-image: url("../images/icons/cow.svg");
}

.seo-icon-leaf::before {
    background-image: url("../images/icons/leaf.svg");
}

.seo-icon-thermometer::before {
    background-image: url("../images/icons/thermometer.svg");
    background-repeat: no-repeat;
}

.seo-desc {
    color: #565C66;
    line-height: 22px;
    margin: 0;
}

/* nwes */
.wrapper {
    padding-bottom: 80px;
}

.wrapper-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: center;

}

.nwes {
    min-height: 224px;
    border-radius: 16px;
    background-color: #ffffff;
    background-image: url("../images/news/news-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 34px;
    padding-bottom: 68px;
    padding-left: 32px;
}

.news-desc {
    color: #565C66;
    margin: 0 0 12px 0;
}

/* subscribe */
.subscribe {
    min-height: 224px;
    background-image: url("../images/subscribe/pattern-subscribe-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6px;
}

.subscribe-wrapper {
    border: 6px solid #fcfcfc;
    border-radius: 16px;
    background-color: #fcfcfc;
    padding: 26px;
}

.subscribe-desc {
    color: #565C66;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 44px;
}

.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

/* delivery-container */
.delivery {
    padding-bottom: 80px;
}

.delivery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 64px 64px 64px 100px;
    min-height: 543px;
    border-radius: 16px;
    background-color: #fcfcfc;
    background-image: url("../images/delivery/delivery-bg.jpg");
    background-size: cover;
}

.delivery-title {
    margin-bottom: 24px;
}

.delivery-desc {
    color: #565C66;
    line-height: 22px;
    margin: 0;
}

.delivery-wrapper {
    width: 372px;
}

/* form */
.delivery-form {
    width: 500px;
    border-radius: 8px;
    background-color: #fcfcfc;
    box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
    padding: 40px;
}

.delivery-fieldset-group {
    padding: 0;
    margin: 0;
    border: none;
}

.delivery-form-label {
    font-weight: 700;
    line-height: 20px;
}

.delivery-form-textarea {
    resize: none;
}

/* feedback */
.feedback-container {
    border-radius: 16px;
    background-image: url("../images/feedback/feedback-bg.jpg");
    background-size: cover;
    padding: 64px;
}

.feedback-form {
    width: 343px;
    padding: 40px;
    border-radius: 8px;
    background-color: #fcfcfc;
    box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.feedback-desc {
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 12px;
}

.feedback-title {
    margin-bottom: 24px;
}

.feedback-title {
    margin-bottom: 4px;
}

.feedback-desc-clock {
    font-size: 14px;
    margin-bottom: 32px;
}

/* Inner page */
/* intro */
.intro-container {
    padding-top: 32px;
    padding-bottom: 20px;
}

/* breadcrumbs */
.breadcrumbs-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 16px;

}

.breadcrumbs-item {
    display: flex;
    align-items: center;
}

.breadcrumbs-item:not(:last-child):after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 8px;

    background-image: url("../images/icons/breadcrumbs.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

.breadcrumbs-link {
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    font-size: 14px;
}

.breadcrumbs-link-current {
    text-decoration: 1px;
    outline: none;
    text-decoration-color: inherit;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-offset: 4px;
}

/* filter */
.filter {
    padding-top: 20px;
    padding-bottom: 44px;
}

.filter-fieldset-group {
    padding: 0;
    margin: 0;
    border: none;
}

.filter-form-legend {
    font-size: 14px;
    margin-bottom: 8px;
}

.filter-form-legend-price {
    margin-bottom: 0;
}

/* select */
.select-sort {
    width: 196px;

    font-family: "Inter", Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #2d3440;

    border: none;
    outline: none;
    cursor: pointer;

    padding: 8px 53px 8px 16px;

    background-image: url("../images/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 16px 16px;

    border-radius: 20px;
    background-color: rgba(252, 252, 252, 0.3);

    -webkit-appearance: none;
            appearance: none;
}

.select-sort:hover {
    background-color: rgba(252, 252, 252, 0.6);
}

.select-sort:focus-visible {
    outline: 2px solid #fcfcfc;
}

/* filter-form */
.filter-form {
    font-size: 14px;
}

/* input range */
.filter-fieldset-group-price {
    width: 135px;
    margin-bottom: 16px;
}

.filter-price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.filter-form-range {
    width: 36px;
    padding: 4px;

    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    background-color: transparent;
    border: 1px solid transparent;

    color:#2d3440;
    -webkit-appearance: textfield;
          appearance: textfield;
}

.filter-form-range::-webkit-outer-spin-button,
.filter-form-range::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

/* filter-range */
.filter-range {
  width: 196px;
}

.filter-range-scale {
    position: relative;
    height: 2px;
    background-color: rgba(86, 92, 102, 0.3);
}

.filter-rage-bar {
    position: absolute;
    height: 2px;
    background-color: #565c66;
}

/* form-range-toggle */
.filter-range-toggle {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #2D3440;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color .3s ease-in;
}

.filter-range-toggle::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fcfcfc;
    top: 50%;
    transform: translate(-50%, -50%);
}

.range-toggle-min {
    top: -8px;
    left: 0;

}

.range-toggle-max {
    right: 0;
    top: -8px;
}

.filter-range-toggle:hover{
    background-color: #fcfcfc;
}

.filter-range-toggle:hover:after {
    background-color: #2d3440;
}

.filter-range-toggle:active{
    background-color: #2d3440;
}

.filter-range-toggle:active::before {
    background-color: #2d3440;
}

.filter-range-toggle:focus-visible {
    border: 1px solid #2d3440;
    background-color: #fcfcfc;
}

.filter-range-toggle:focus-visible::before {
    background-color: #2d3440;
}

/* checkbox */
.filter-input {
    width: 16px;
    height: 16px;
    border: 1px solid #2d3440;
    background-color: #fcfcfc;
    cursor: pointer;
}

/* pagination */
.wrapper-pagination {
    display: flex;
    align-items: center;
    padding: 41px 0;
}

.pagination-page {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    gap: 7px;
    align-items: center;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: center;
    align-items: center;
}

.pagination-link {
    color: inherit;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid transparent;
    padding: 2px 8px;
    background-color: transparent;
    transition: background-color .3s ease-in, border-color .3s ease-in;
}

.pagination-link:hover {
    background-color: rgba(252, 252, 252, 0.50);
}

.pagination-link:active {
    border: 1px solid #fcfcfc;
    background-color: rgba(252, 252, 252, 0.50);
}

.pagination-link:focus {
    outline: none;
}

.pagination-link:focus-visible {
    border: 1px solid #2d3440;
    background-color: rgba(252, 252, 252, 0.30);
}

.pagination-link-current {
    background-color: #fcfcfc;
}

/* pagination button */
.pagination-button {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../images/icons/arrow-left.svg");
    background-repeat: no-repeat;
}

.pagination-button-next {
    transform: rotate(180deg);
}

.pagination-button:disabled,
.pagination-button-disabled {
    opacity: 0.3;
}

/* footer */
.footer-page {
    font-size: 14px;
}

.footer-page-container {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
}

.footer-menu-list-row {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.footer-menu-item-provider {
    font-weight: 700;
}


.footer-menu-link {
    display: flex;
    align-items: center;

    color: inherit;
    text-decoration: none;
}

.footer-menu-link:first-child {
    padding-left: 22px;
}

.menu-icon-provider {
    background-image: url("../images/icons/heart-fill.svg");
    background-repeat: no-repeat;
}

.htmlacademy-link {
    display: block;
    width: 93px;
    height: 27px;
    background-image: url("../images/logo_htmlacademy.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 14px;
}

.copyright {
    margin: 0;
}

.htmlacademy-small-link {
    font-size: 12px;
    line-height: 16px;
    color: inherit;
   text-decoration: none;
}
