/* Fonts */
@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #2d3440;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}

.wrapper-basic {
    background-color: #feafc3;
}

.wrapper-light {
    background-color: #fcc850;
}

.wrapper-dark {
    background-color: #69a9ff;
}

.main-page {
    flex-grow: 1;
}

.main-page-home {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 80px;
}

/* Общие стили */
.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* button */
.button {
    position: relative;

    display: inline-block;
    padding: 12px 32px;
    margin-top: auto;

    font-family: "Inter", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

    color: #2D3440;
    text-align: center;
    text-decoration: none;

    background-color: #fcfcfc;
    border: none;
    border-radius: 26px;
    box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1), 0 0 0 4px rgba(252, 252, 252, 0.4);

    cursor: pointer;

    transition: background-color .3s ease-in, box-shadow .3s ease-in;
}

.button:hover {
    background-color: rgba(252, 252, 252, 0.40);
    box-shadow: 0 4px 15px 0 rgba(133, 133, 133, 0.15), 0 0 0 4px #fcfcfc;
}

.button:active {
    background-color: #fcfcfc;
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1), 0 0 0 2px #2d3440;
}

.button:focus-visible {
    outline: none;
    background-color: rgba(252, 252, 252, 0.5);
    box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1), 0 0 0 2px #2d3440;
}

.button:disabled,
.button-disabled {
    background-color: #e7e7e7;
    color: #b9b9b9;
    box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
    pointer-events: none;
}

.button-spinner {
    position: relative;
    padding-right: 50px;
}

.button-spinner::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 20px;
    z-index: 20;

    width: 16px;
    height: 16px;

    background-color: currentColor;
    transform: translateY(-50%);

    -webkit-mask-image: url("../images/svg/spinner-dark.svg");
    mask-image: url("../images/svg/spinner-dark.svg");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

/* button-light */
.button-light {
    color: #fcfcfc;
    background-color: #ff2f64;
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1), 0 0 0 4px rgba(255, 47, 100, 0.3);
}

 .button-light:hover {
    box-shadow: 0 0 0 4px #ff2f64;
    background-color: rgba(252, 252, 252, 0.3);
    color: #2d3440;
}

.button-light:active {
    color: #fcfcfc;
    background-color: #feafc3;
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1), 0 0 0 2px #2d3440;
}

.button-light:focus-visible {
    color: #fcfcfc;
    background-color: #ff2f64;
}

.button-light:disabled
.button-light-disabled {
    color: #565656;
    background-color: #b9b9b9;
    box-shadow: 0 0 0 4px rgba(185, 185, 185, 0.3);
    pointer-events: none;

}

/* button-outline */
.button-outline {
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 20px;
    background-color: rgba(252, 252, 252, 0.30);
    box-shadow: 0 0 0 2px #fcfcfc;
}

.button-outline:hover {
    color: #fcfcfc;
    box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.button-outline:active {
    background-color: rgba(252, 252, 252, 0.5);
    box-shadow: none;
}

.button-outline:focus-visible {
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: 0 0 2px #2d3440;
    outline: none;
}

.button-outline:disabled,
.button-outline-disabled {
    color: #565c66;
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: 0 0 0 2px #fcfcfc;
    opacity: 0.4;
    pointer-events: none;
}
/* // button */

.slide-capiton {
    font-size: 36px;
    font-weight: 900;
    line-height: 46px;
    margin: 0;
}

.title {
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    text-align: center;
    margin: 0;
}

.small-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
}

.subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

.small-subtitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: 0;
}

.form-input {
    width: 100%;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    border-radius: 4px;
    border: 1px solid #b9b9b9;
    background-color: #ffffff;
    color:#2d3440;

    padding: 14px 16px 14px;
}

.form-input::placeholder {
    color: #b9b9b9;
    opacity: 1;
}

.form-input:hover {
    border: 1px solid #2d3440;
}

.form-input:focus-visible {
    border: 1px solid #2d3440;
    outline: none;
    box-shadow:  0 0 0 1px #2d3440;
}

.form-input-error {
    border: 1px solid #ea5454;
}

.form-input:disabled {
    color: rgba(45, 52, 64, 0.65);
    background-color: #e7e7e7;
}

.form-input:disabled:hover {
    color: #2d3440;
    border: 1px solid #b9b9b9;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
/* // Общие стили */

/* header */
.header-page {
    padding: 24px 0;
}

.logo {
    display: block;
    width: 137px;
    height: 56px;
}

.logo:focus {
   outline: none;
   opacity: 0.6;
}

.logo:focus-visible {
   outline: none;
   opacity: 0.6;
}

.logo img {
    display: block;
    width: 100%;
    height: 100%;
}

.navigation-logo[aria-current] {
    pointer-events: none;
}
/* // logo */

/* navigation */
.navigation {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 18px;
    align-items: start;
}

.navigation-list {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;
}

.navigation-item {
    padding: 8px 0;
}

.navigation-link {
    display: inline-block;
    padding: 6px 13px;
    /* padding: 8px 16px; */
    color: inherit;
    text-decoration: none;

    border: 2px solid transparent;
    border-radius: 30px;
    transition: background-color .3s ease-in;
}

.navigation-link:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.navigation-link:active {
    background-color: #fcfcfc;
    border-color: transparent;
}

.navigation-link:active:focus {
    outline: none;
}

.navigation-link:active:focus-visible {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: #2d3440;
    outline: none;
}

/* dropdown */
.dropdown {
    position: relative;
}

.dropdown-container {
    position: absolute;
    display: none;
    top: 100%;
    z-index: 10;

    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);

}

.dropdown-link {
    position: relative;
    padding-right: 40px;
}

.navigation-link.dropdown-link::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    display: block;

    top: 50%;
    right: 17px;

    background-color: currentColor;
    transform: translateY(-50%) rotate(-90deg);

    -webkit-mask-image: url("../images/svg/arrow.svg");
    mask-image: url("../images/svg/arrow.svg");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: 16px 16px;
}

.dropdown-show .dropdown-container,
.dropdown:hover .dropdown-container,
.dropdown:focus-visible .dropdown-container {
    display: block;
}

dropdown-show .dropdown-link,
.dropdown:hover .dropdown-link,
.dropdown:focus-visible .dropdown-link {
    color: #fcfcfc;
    background-color: #ff4a78;
}

.dropdown-show .dropdown-link::after,
.dropdown:hover .dropdown-link::after,
.dropdown:focus-visible .dropdown-link::after {
   transform: translateY(-50%) rotate(90deg);
}

.dropdown-menu {
    width: 138px;
    padding: 8px 0;
    left: 0;
}

.dropdown-menu-title {
    margin: 16px;
    padding: 0 0 11px;

    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #b9b9b9;
}

.dropdown-menu-link {
    display: block;
    padding: 6px 10px 6px 16px;
    font-size: 14px;
    color: inherit;
    text-decoration: none;
}

.dropdown-menu-link:hover {
    background-color: #ffcbd8;
}

.dropdown-menu-link:active {
    background-color: #ff7799;
}

.dropdown-menu-link:focus {
    outline: none;
}

.dropdown-menu-link:focus-visible {
    background-color: #ffcbd8;
    outline: none;
}

.dropdown-menu-link-current {
    color: #fcfcfc;
    background-color: #ff4a78;
    pointer-events: none;
}
/* // dropdown */

/* user-list */
.user-list {
    max-width: 290px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 12px;
    margin-top: 12px;
}

.user-item {
    padding: 8px 0;
}

.user-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;

    font-size: 14px;
    color: inherit;
    text-decoration: none;

    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid transparent;
    border-radius: 30px;
}

.user-link:focus {
    outline: none;
}

.user-link:focus-visible {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #2d3440;
    outline: none;
}

.navigation-phone {
    font-weight: 700;
    color: #2d3440;
    text-decoration: none;
    margin-top: 16px;
    transition: color .3s ease-in, opacity .3s ease-in;
}

.navigation-phone:hover {
    color: #fcfcfc;
    outline: none;
}

.navigation-phone:active {
    opacity: 0.3;
}

.user-link span {
    margin-left: 7px;
}

.user-link svg {
    fill: currentColor;
}

/* search */
.user-link-search {
    width: 32px;
    height: 32px;
    padding: 0;
}

.search {
    width: 356px;
    padding: 24px 16px;
    right: 0;
}

/* login */
.login {
    width: 420px;
    padding: 53px 48px 52px 48px;
    right: 0;
}

.login-title {
    margin: 0 0 35px;
}

.login-input {
    margin-bottom: 15px;
}

.login-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 22px;
}

.login-button {
    width: 113px;
}

.login-link {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    vertical-align: baseline;
    color: #2d3440;

    text-decoration: 1px;
    text-decoration-color: inherit;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-offset: 4px;


}

/* bassket */
.bassket {
    right: 0;
}

.basket-content-full {
    width: 441px;
    padding: 48px 48px 15px;
}

.basket-content-empty {
    width: 288px;
    padding: 48px 20px;
}

.basket-content {
    display: none;
}

.dropdown-basket-full .basket-content-full,
dropdown-basket-empty, basket-content-empty {
    display: block;
}

/* button-basket-delete */
.basket-delete {
    position: relative;

    display: block;
    width: 16px;
    height: 16px;
    padding: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.basket-delete::before,
.basket-delete::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 12px;
    height: 1px;

    background-color: #2d3440;
    transform: translate(-50%, -50%);
}

.basket-delete::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.basket-delete::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.basket-title {
    margin: 0 0 32px;
}

.basket-list {
    padding: 0 0 32px;
    border-bottom: 1px solid #e7e7e7;
}

.basket-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin: 0 0 24px;
}

.basket-link {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    margin-bottom: 3px;
    color: #2d3440;
    text-decoration: none;
}

.basket-subtitle {
    font-weight: 700;
    font-size: 18px;
}

.basket-desc {
    font-size: 14px;
    color: #b9b9b9;
}

.basket-price {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: 0 57px 0 auto;
}

.basket-check {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}
        /* // user-list */
    /* // navigation */
/* // header */

/* Slider */
.slider-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
}

.slider-content-container {
    width: 525px;
}

.slider-content {
    display: none;
    padding: 115px 20px 115px 70px;
}

.slider-content-active {
    display: block;
}

.slide-title {
    margin: 0 0 24px;
}

.slider-text {
    margin: 0 0 48px;
    font-size: 18px;
    line-height: 24px;
}

.slider-control {
    position: relative;
}

.slider-images {
    display: grid;
    grid-template-columns: 1fr 100px 100px;
    align-items: center;
    gap: 40px;
}

.slider-image-container {
    position: relative;
    width: 100px;
    height: 150px;
    opacity: 0.4;
}

.slider-image-container img {
    position: relative;
    z-index: 2;
    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.slider-image-container-active {
position: relative;
    width: 367px;
    height: 507px;
    opacity: 1;
}

.slider-image-container-active::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 100px;
    height: 100px;
    background-color: #ffcbd8;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}


.slider-arrows-container {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 5;

    display: flex;
    justify-content: space-between;
    width: 365px;
    transform: translateY(-50%);
}

/* slider-arrow */
.slider-arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 38px;
    height: 38px;
    color: #fcfcfc;
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #fcfcfc;
    border-radius: 50%;
    cursor: pointer;

    transition: background-color .3s ease-in, border-color .3s ease-in;
}

.slider-arrow svg {
    fill: currentColor;
}

.slider-arrow-next {
    transform: rotate(180deg);
}

.slider-arrow:hover {
    color: #2d3440;
    background-color: #fcfcfc;
}

.slider-arrow:active {
    color: #2d3440;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid transparent;
}

.slider-arrow:focus {
    outline: none;
}

.slider-arrow:focus-visible {
    color: #2d3440;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #2d3440;
    outline: none;
}

/* slider-navigation-bullets */
.slider-navigation-bullets {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
}

.slider-bullet {
    display: block;
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;

    margin: 0;
    padding: 0;

    transition: background-color .3s ease-in, border-color .3s ease-in;
}

.slider-bullet-active {
    background-color: #fcfcfc;
}

.slider-bullet:hover {
    border: 1px solid #fcfcfc;
}

.slider-bullet:active {
    background-color: rgba(252, 252, 252, 0.5);
    border: 1px solid transparent;
}

.slider-bullet:focus-visible {
    border: 1px solid #2d3440;
    outline: none;
}

/* slider-social */
.social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.slider-social {
    margin-left: auto;
}

.social-link {
    display: block;
    width: 24px;
    height: 24px;

    color: #fcfcfc;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid transparent;
}

.social-link svg {
    fill: currentColor;
}

.social-link:hover {
    color: #2d3440;
}

.social-link:active {
    color: #2d3440;
    opacity: 0.5;
}

/* .social-link:focus-visible {
    color: #2d3440;
    border-color: #2d3440;
    outline: none;
} */

/* banners */
.banners-title {
    margin: 0 0 54px;
}

.banners-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.banners-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: #ff7799;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    border-radius: 16px;
    padding: 36px 220px 36px 36px;
}

.banners-item-raspberry {
 background-image: url("../images/banners/raspberry.png");
}

.banners-item-marshmallow {
 background-image: url("../images/banners/marshmallow.png");
}

.banners-subtitle {
    margin: 0 0 28px;
}

.banners-desc {
    margin: 0 0 28px;
    line-height: 22px;
}

/* product */
.product-title {
    margin: 0 0 56px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.product-item {
    padding-top: 51px;
    text-align: center;
}

.product-item-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 25px 40px;
    background-color: #fcfcfc;
    border-radius: 8px;
}

.product-link-img {
    display: block;
    width: 168px;
    height: 168px;
    border-radius: 50%;
    margin: -77px auto 17px;
}

.product-link-img img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.product-link {
    display: block;
    color: inherit;
    text-decoration: none;
}

.product-subtitle {
    margin: 0 0 8px;
}

.product-desc {
    color: #565656;
    line-height: 22px;
    margin: 0 0 16px;
}

.product-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.product-price {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

/* product-button */
.product-button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fcfcfc;
    background-color: #ff2f64;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease-in, border-color .3s ease-in;
}

.product-button svg {
    fill: currentColor;
}

.product-button:focus {
    outline: none;
}

.product-button:hover {
    color: #2d3440;
    background-color: rgba(252, 252, 252, 0.3);
    border-color: #ff2f64;
}

.product-button:active {
    color: #2d3440;
    background-color: #ffcbd8;
    border-color: #ff2f64;
}

.product-button:focus-visible {
    color: #fcfcfc;
    background-color: #ff2f64;
    border-color: #2d3440;
    outline: none;
}

.product-button:disabled,
.product-button-disabled {
    color: #565c66;
    background-color: #b9b9b9;
}

/* about */
.about-container {
    background-color: #fff;
    background-image: url("../images/about-background.png");
    background-size: cover;
    border-radius: 16px;
    padding: 24px;
}

.about-wrapper {
    background-color: #fff;
    border-radius: 16px;
    padding: 56px 40px;
}

.about-title {
    margin-bottom: 56px;
}

.about-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
}

.about-item {
    position: relative;
    min-height: 48px;
    padding-left: 64px;
    line-height: 22px;color: #565c66;
}

.about-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #2d3440;
    border-radius: 50%;
}

.about-item-ice-crem::before {
    background-image: url("../images/svg/ice-cream.svg");
}

.about-item-crow::before {
    background-image: url("../images/svg/cow.svg");
}

.about-item-leaf::before {
    background-image: url("../images/svg/leaf.svg");
}

.about-item-thermometer::before {
    background-image: url("../images/svg/thermometer.svg");
}

/* promo */
.promo-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.news {
    height: 100%;
    padding: 33px 220px 33px 32px;
    background-color: #fff;
    border-radius: 16px;

    background-image: url("../images/news-background.jpg");
    background-repeat: no-repeat;
    background-position: center right -43px;
    background-size: cover;
}

.news-title {
    font-size: 16px;
    font-weight: 400;
    color: #565c66;
    margin: 0 0 12px;
}

.news-link {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: inherit;
    text-decoration: none;
}

/* subscribe */
.subscribe {
    padding: 6px;
    border-radius: 16px;
    background-image: url("../images/subscription-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 16px;
    padding: 26px;
}

.subscribe-desc {
    color: #565c66;
    line-height: 22px;
    margin: 0 0 44px;
}

.subscribe-form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 17px;
    margin-top: auto;
}

.subscribe-submit {
    width: 156px;
}

/* delivery !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.delivery-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 92px;
    padding: 64px;
    border-radius: 16px;
    background-color: #fcfcfc;
    background-image: url("../images/delivery-background.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
}

.delivery-wrapper {
    width: 450px;
    padding: 105px 36px 10px;
}

.delivery-title {
    text-align: left;
    margin-bottom: 24px;
}

.delivery-desc {
    color: #565c66;
    line-height: 22px;
    margin: 0 0 32px;
}

/* delivery-form */
.delivery-form-container {
    background-color: #fcfcfc;
    border-radius: 8px;
    box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
    padding: 42px 40px 42px;
}

.delivery-form {
    display: grid;
    grid-template-columns: 117px 1fr;
    gap: 20px 16px;
}

.delivery-fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.delivery-fieldset-address {
    grid-column: 1/-1;
}

.delivery-form-label {
    display: block;
    margin-right: 5px;
    font-weight: 700;
    line-height: 20px;
}

textarea.delivery-form-input {
    resize: none;
}

.delivery-form-tooltip {
    display: flex;
    align-items: center;
}

.delivery-tooltip {
    position: relative;
}

.delivery-tooltip-text {
    position: absolute;
    top: -18px;
    left: 30px;
    width: 150px;
    display: none;
    font-size: 12px;
    line-height: 16px;
    color: #565c66;
    background-color: #fcfcfc;
    border: 1px solid #b9b9b9;
    border-radius: 1px;
    box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
    padding: 10px 8px 10px 15px;
    margin: 0;
}

.delivery-tooltip-text::after {
    content: "";
    position: absolute;
    top: 16px;
    left: -8px;
    width: 14px;
    height: 14px;
    background-color: #fcfcfc;
    border: 1px solid #b9b9b9;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);
}

.delivery-tooltip-toggle {
    width: 14px;
    height: 14px;
    background-color: transparent;
    background-image: url(../images/svg/delivery-tooltip.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.delivery-tooltip-toggle:hover ~ .delivery-tooltip-text,
.delivery-tooltip-toggle:focus-visible ~ .delivery-tooltip-text {
    display: block;
}
.delivery-button {
    width: 152px;
    display: block;
    grid-column: 1/-1;
    margin: 0 auto;
}

/* delivery !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* contacts */
.contacts-container {
    background-color: #e7cdcd;
    border-radius: 16px;
    background-image: url("../images/contacts-background.jpg");
    background-position: right;
    background-size: cover;
}

.contacts-content {
    width: 343px;
    padding: 40px;
    background-color: #fcfcfc;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.contacts-heading {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0 0 10px;
}

.contacts-address {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    line-height: 24px;
    margin: 0 0 24px;
}

.contacts-phone {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: inherit;
    text-decoration: none;
}

.contacts-tip {
    font-size: 14px;
    line-height: 20px;
    color: #565c66;
    margin: 0 0 33px;
}

.contacts-button {
    width: 250px;
}

/* Inner page */
/* intro */
.intro {
    padding: 31px 0;
}

/* breadcrumbs */
.breadcrumbs-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 16px;
}

.breadcrumbs-item {
    display: flex;
    align-items: center;
}

.breadcrumbs-item:not(:last-child):after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 8px;

    background-image: url("../images/svg/breadcrumbs.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

.breadcrumbs-link {
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    font-size: 14px;

    transition: color .3s ease-in, opacity .3s ease-in;
}

.breadcrumbs-link:hover {
    color: #fcfcfc;
    outline: none;
}

.breadcrumbs-link:active {
    opacity: 0.3;
}

.breadcrumbs-link-current {
    text-decoration: 1px;
    outline: none;
    text-decoration-color: inherit;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-offset: 4px;
    pointer-events: none;
}

.intro-title {
    text-align-last: left;
}

/* filter */
.filter {
    padding: 20px 0 44px;
}

.filter-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.filter-fieldset {
    display: flex;
    flex-direction: column;
    margin: 0 24px 15px 0;
    padding: 0;
    border: none;
}

.filter-form-legend {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 8px;
}

/* sorting */
.filter-sorting {
    width: 190px;
    height: 36px;
    padding: 0 40px 0 14px;

    font-family: "Inter", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #2d3440;

    background-color: rgba(252, 252, 252, 0.3);
    background-image: url("../images/svg/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 16px 16px;

    border: 2px solid transparent;
    border-radius: 20px;
    cursor: pointer;

    -webkit-appearance: none;
    appearance: none;

    transition: background-color .3s ease-in,  border-color .3s ease-in;
}

.filter-sorting:hover {
    background-color: rgba(252, 252, 252, 0.5);
    outline: none;
}

.filter-sorting:focus-visible {
    background-color: rgba(252, 252, 252, 0.4);
    border-color: #fcfcfc;
    outline: none;
}

/* range */
.range-container-inputs {
    display: flex;
}

.range-input {
    width: 30px;
    margin: 0 -4px 0 -2px;
    padding: 0;

    font-family: "Inter", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #2d3440;
    text-align: center;
    background-color: transparent;
    border: none;

    -webkit-appearance: textfield;
    appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.filter-range {
    width: 190px;
    height: 36px;
    padding: 10px 16px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
}

.filter-range-scale {
    position: relative;
    top: 50%;
    left: 50%;

    width: 164px;
    height: 2px;
    background-color: rgba(86, 92, 102, 0.3);
    transform: translate(-50%, -50%);
}

.filter-rage-bar {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    height: 2px;
    background-color: #565c66;
    transform: translateY(-50%);
}

/* filter-range-toggle */
.filter-range-toggle {
    position: absolute;
    top: 50%;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #2d3440;
    border: none;
    border-radius: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: background-color .3s ease-in;
}

.filter-range-toggle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fcfcfc;

    transform: translate(-50%, -50%);
}

.filter-range-toggle-min {
    left: 0;
}

.filter-range-toggle-max {
    right: 0;
}

.filter-range-toggle:hover{
    background-color: #fcfcfc;
}

.filter-range-toggle:hover:after {
    background-color: #2d3440;
}

.filter-range-toggle:active{
    background-color: #2d3440;
}

.filter-range-toggle:active::before {
    background-color: #2d3440;
}

.filter-range-toggle:focus-visible {
    border: 1px solid #2d3440;
    outline: none;
    box-shadow: 0 0 2px #2d3440;
}

.filter-range-toggle:focus-visible::before {
    background-color: #2d3440;
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 24px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 18px;
}

.filter-item {
    display: flex;
    align-items: center;
}

.filter-item:not(:last-child) {
    margin-right: 16px;
}

/* radio */
.filter-input-radio {
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0 8px 0 0;
    background-color: transparent;
    border: 1px solid #2d3440;
    border-radius: 50%;
    -webkit-appearance: none;
    appearance: none;
}

.filter-input-radio:checked::before {
    display: block;
}

.filter-input-radio:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 6px;
    height: 6px;
    background-color: #2d3440;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.filter-input-radio:hover {
    border-color: #fcfcfc;
    outline: none;
}

.filter-input-radio:hover:before {
    background-color: #fcfcfc;
}

/* checkbox */
.filter-label {
    display: flex;
    flex-wrap: wrap;
}

.filter-input-check {
    position: relative;
    width: 16px;
    height: 16px;
    color: #2d3440;
    background-color: transparent;
    border: none;
    cursor: pointer;
    appearance: none;
    margin: 0 8px 0 0;
}

.filter-input-check::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 16px;
    height: 16px;
    background-color: #2d3440;

    -webkit-mask-image: url("../images/sprite/checkbox/checkbox-uncheked.svg");
    mask-image: url("../images/sprite/checkbox/checkbox-uncheked.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}

.filter-input-check:checked:after {
    background-color: #2d3440;
    -webkit-mask-image: url("../images/sprite/checkbox/checkbox-check-on.svg");
    mask-image: url("../images/sprite/checkbox/checkbox-check-on.svg");
}

.filter-input-check:hover::after {
    background-color: #fcfcfc;
    -webkit-mask-image: url("../images/sprite/checkbox/checkbox-uncheked-hover.svg");
    mask-image: url("../images/sprite/checkbox/checkbox-uncheked-hover.svg");
}

.filter-input-check:checked:hover:after {
    background-color: #fcfcfc;
    -webkit-mask-image: url("../images/sprite/checkbox/checkbox-check-on-hover.svg");
    mask-image: url("../images/svg/checkbox/checkbox-check-on-hover.svg");
}

.filter-input-check:disabled::after {
    background-color: #2d3440;
    -webkit-mask-image: url("../images/sprite/checkbox/checkbox-uncheked-disabled.svg");
    mask-image: url("../images/sprite/checkbox/checkbox-uncheked-disabled.svg");
}

.filter-input-check:checked:disabled::after {
    background-color: #2d3440;
    -webkit-mask-image: url("../images/sprite/checkbox/checkbox-check-on-disabled.svg");
    mask-image: url("../images/sprite/checkbox/checkbox-check-on-disabled.svg");
}

/* pagination */
.pagination {
    position: relative;
    padding: 41px 0;
    text-align: center; /* ? */
}

.pagination-container {
    position: absolute;
    top: 50%;
    right: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.pagination-link {
    color: inherit;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 2px 8px;
    transition: background-color .3s ease-in, border-color .3s ease-in;
}

.pagination-link:hover {
    background-color: rgba(252, 252, 252, 0.5);
}

.pagination-link:active {
    background-color: rgba(252, 252, 252, 0.5);
    border: 1px solid #fcfcfc;
}

.pagination-link:focus {
    outline: none;
}

.pagination-link:focus-visible {
    border: 1px solid #2d3440;
    background-color: rgba(252, 252, 252, 0.3);
    outline: none;
}

.pagination-link-current {
    background-color: #fcfcfc;
}

/* pagination button */
.pagination-button-more {
    width: 179px;
    margin: 0 auto; /* ? */
}

/* pagination-arrow */
.pagination-arrow {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../images/svg/arrow.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.pagination-arrow-next {
    transform: rotate(180deg);
}

.pagination-arrow:disabled,
.pagination-arrow-disabled {
    opacity: 0.3;
}

/* footer */
.footer-page {
    font-size: 14px;
    padding: 48px 0;
}

.footer-page-container {
    display: flex;
    justify-content: space-between;
}

.footer-menu-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5px 3px;
    margin: 0 auto;
}

.footer-menu-link {
    display: inline-block;
    padding-left: 23px;
    color: inherit;
    text-decoration: none;
}

.footer-menu-link:hover {
    color: #fcfcfc;
}

.footer-menu-link:active {
    opacity: 0.3;
}

.footer-menu-link:first-child {
    padding-left: 22px;
}

.footer-menu-link-important {
    font-weight: 700;
    background-image: url("../images/svg/heart-fill.svg");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 16px 16px;
}

.htmlacademy-link {
    display: block;
    width: 93px;
    height: 27px;
    color: #2d3440;
    margin-bottom: 14px;
}

.htmlacademy-link svg {
    fill: currentColor;
}

.htmlacademy-info {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.htmlacademy-info a {
    color: inherit;
   text-decoration: none
}
